{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h1>Here is welcom page</h1>
        <p class="lead">Descrption of welcom page. </p>
    </div>
{% endblock %}
